*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Medium",sans-serif;
}

:root{
    --background:#d4d4d4;
    --backgroundv:#afafb1;
    --primary:rgb(31, 31, 31);
    --secondary:#efefef;
    --primaryLight:#312f2f;
    --secondarylight:#6c6d77;
    --success:rgb(125, 198, 141)84;
    --danger:rgb(251, 114, 114);
    --dangerhover:rgb(252, 96, 96);
}

body{
    background: var(--background);
    width: 100%;
}

header{
    background: var(--backgroundv);
    display: flex;
    width: 100%;
    padding: 15px 100px;
    align-items: center;
    justify-content: space-between;
}
header .prof_tab{
    display: flex;
    width: max-content;
    padding: 8px;
    cursor:pointer;
    flex-direction: column;
    align-items: center;
    height:auto;
    background: var(--secondarylight);
    border-radius: 5px;
}

header .prof_tab a{
    text-decoration: none;
    
}
.prof_tab .user{
    display: flex;
}

.container{
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.card{
    width: 400px;
    background: var(--backgroundv);
    height:200px;
    padding:20px;
    margin-bottom:10px;
    position: relative;
}

.button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    display: flex;
    justify-content: center;
    height:45px;
    align-items:center;
    background: var(--background);
}
 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--primaryLight);
}
 .user a{
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    color: var(--primaryLight);
}