*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter Medium",sans-serif;
}

:root{
    --background:#bababa;
    --backgroundv:#9395fa;
    --primary:rgb(31, 31, 31);
    --secondary:#efefef;
    --primaryLight:#312f2f;
    --secondarylight:#6c6d77;
    --success:rgb(125, 198, 141)84;
    --danger:rgb(251, 114, 114);
    --dangerhover:rgb(252, 96, 96);
}

body{
    background:var(--background);
    padding: 20px 100px;
}
.back {
    margin: 30px;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--secondary);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
.logout-btn{
    position: absolute;
    right: 50px;
    top: 30px;
    width: 90px;
    padding: 5px;
    background: var(--danger);
    border-radius: 5px;
}
.logout-btn:hover{
    background: var(--dangerhover);
}
.logout-btn input{
    cursor: pointer;
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    background: none;
    outline: none;
    border:none;
}


.profile{
    display: flex;
    align-items: center;
}

.icon{
    font-size: 160px;
}
.details{
    margin-top: -40px;
}
.details h1{
    font-size:70px;
}
.fdetails{
    padding: 12px;
}
   
.email p,.username p{
    display: flex;
    align-items: center;
}

.rows{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,350px);
    gap:.7em;
}

.row{
    width: 350px;
    padding: 20px;
    height: 130px;
    background: var(--secondary);
    border-radius: 8px;

}
.title, p{
    display: flex;
    align-items: center;
}
.rows ion-icon{
    margin-right: 3px;
    font-family:"Inter Medium",sans-serif;
}
.provider{
    display: flex;
    justify-content: space-between;
}
.row p{
    font-size: 14px;
}
.freelance{
    width: 350px;
    height:max-content;
    padding: 20px;
    background:var(--secondary);
    border-radius: 8px;
    font-size: 14px;
}
.cancel{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel form{
    width: 150px;
    height: 45px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.cancel form input{
    width: 100%;
    cursor: pointer;
    height: 100%;
    background: var(--secondarylight);
    border: none;
    outline: none;
}
.cancel form input:hover,.editor:hover{
    background: var(--background);
}
.editor:hover{
    background: var(--secondary);
}

.editor{
    position: absolute;
    right:650px;
    top: 130px;
    width: 150px;
    height: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondarylight);
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: var(--primary);
}